* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;

}
.main{
  background: #EBF0F4;
  width: 100%;
  height: 100%;
  padding: 2% 5%;
}
@media (max-width: 420px) {
  .heading {
    font-size: 24px;
  }
  
  .icon {
    width: 50%;
    height:50%
  }
}
.react-datepicker-wrapper{
  width: 100%;
  
}
.react-time-picker{
  background:white
}
.react-time-picker__wrapper{
  border: none !important;
}
.react-time-picker__wrapper input{
  width: fit !important;
}